*.swp
*.orig
Makefile
test-driver
.libs
Makefile.in
configure
libtool
ltmain.sh
config.guess
config.sub
install-sh
missing
compile
aclocal.m4
config.log
config.status
depcomp
autom4te.cache
.dirstamp
.deps
.sconsign*
*.gcda
*.gcno
*.o
*.lo
*.a
*.la
*.pc
*.tar.gz
*.tar.bz2
*.tar.xz
*.zip
docs/html
m4/lt*
m4/libtool*
libdrapa.project
libs/
obj/
expat/
.settings/
.project
.cproject
coverage/
coverage.info
configure~
fuzz-*.log
